---
version: '3.7'
services:
  wireguard:
    image: ghcr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Copenhagen
      - SERVERURL=wireguard.domain.com #optional
      - SERVERPORT=51820 #optional
      - PEERS=1 #optional
      - PEERDNS=auto #optional
      - INTERNAL_SUBNET=192.168.0.1 #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
    volumes:
      - wireguard-storage:/config
      - /lib/modules:/lib/modules
    ports:
      - '51820:51820/udp'
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped

  node-red:
    container_name: node-red
    image: nodered/node-red:latest-minimal
    environment:
      - TZ=Europe/Amsterdam
    ports:
      - '1880:1880'
    volumes:
      - node-red-data:/data

 mosquitto:
    image: eclipse-mosquitto:2.0.7
    container_name: mosquitto
    ports:
      - 9001:9001
      - 1883:1883
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log


  influxdb:
    container_name: influxdb
    image: influxdb:1.8.9
    env_file: configuration.env
    ports:
      - '8086:8086'
    volumes:
      - ./:/imports
      - influxdb-storage:/var/lib/influxdb

  
  telegraf:
    container_name: telegraf
    image: telegraf:1.20.0
    volumes:
    - ./telegraf/etc/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb
      - mosquitto
    links:
      - influxdb
      - mosquitto
    ports:
    - '8125:8125/udp'

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    depends_on:
      - influxdb
    env_file: configuration.env
    links:
      - influxdb
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
      - ./grafana/dashboards/:/var/lib/grafana/dashboards/

  # influxdb_cli:
  #   links:
  #     - influxdb
  #   image: influxdb:2.0.7
  #   volumes:
  #     # Mount for influxdb data directory and configuration
  #     - influxdb-storage:/var/lib/influxdb2
  #   environment: 
  #      # Use these same configurations parameters in your telegraf configuration, mytelegraf.conf.
  #     - DOCKER_INFLUXDB_INIT_MODE=setup
  #     - DOCKER_INFLUXDB_INIT_USERNAME=myusername
  #     - DOCKER_INFLUXDB_INIT_PASSWORD=passwordpasswordpassword
  #     - DOCKER_INFLUXDB_INIT_ORG=myorg
  #     - DOCKER_INFLUXDB_INIT_BUCKET=mybucket
  #     - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mytoken
  #   entrypoint: ["./entrypoint.sh"]
  #   restart: on-failure:10
  #   depends_on:
  #     - influxdb

  # portainer:
  #   container_name: portainer
  #   image: portainer/portainer:alpine
  #   ports:
  #     - '1888:1888'


volumes:
  node-red-data:
  influxdb-storage:
  grafana-storage:
  wireguard-storage:
  mosquitto-data:
  mosquitto-logs:
  mosquitto-conf:
